<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>去除空格</title>

    <link rel="stylesheet" href="../skeleton.css">
    <style media="screen">
        div {
            text-align: center;
            padding-top: 200px;
        }

        input {
            height: 30px;
        }

        button {
            background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
            background-color: #2b669a;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="">
        <input type="text" name="" value=" 需 要 去 除 空 格 的 文 本" class="txt">
        <button type="button" name="button">过滤</button>
    </div>

    <script type="text/javascript">
        var btn = document.getElementsByTagName('button')[0],
            txt = document.getElementsByClassName('txt')[0];
        btn.addEventListener('click', function() {
            txt.value = txt.value.replace(/\s/g, '')
        })
    </script>
</body>

</html>
