<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>徐永久的简历</title>
    <link rel="stylesheet" href="./static/css/resume.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="img-header">
                <div class="content">
                    <p><strong> ON THE WAY </strong></p>
                    <p>Always.</p>
                </div>
            </div>
        </header>
        <main>
            <div class="information-all">
                <div class="col-6-asb">
                    <div class="col-3 peasonal">
                        <img class="peasonal-image" src="./static/image/peason.png" alt="">
                    </div>
                    <div class="col-9 item">
                        <p class="title name">
                            徐永久
                        </p>
                        <div class="col-6">
                            <p class="education">天津科技大学 | 本科</p>
                            <p class="profession">英语：6级</p>
                            <p class="profession">年龄：26</p>
                        </div>
                        <div class="col-6">
                            <p class="phone">186 4900 9827</p>
                            <p class="email">madlife09xyj@gmail.com</p>
                            <p class="education">Q:342276355</p>
                        </div>
                    </div>
                </div>
                <div class="col-6-asb">
                    <div class="col-6 skill">
                        <div class="item">
                            <p class="title">
                                技能清单
                            </p>
                            <div class="lang">
                                <lable>Javascript</lable>
                                <lable>HTML</lable>
                                <lable>CSS</lable>
                                <lable>JQUERY</lable>
                                <lable>ES6</lable>
                                <lable>PHOTOSHOP</lable>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 ensprience">
                        <div class="item">
                            <p class="title">
                                期望
                            </p>
                            <ul>
                                <li>一份初级前端的工作</li>
                                <li>一个继续学习的机会</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="title project">
                    <p>关于我</p>
                </div>
                <div class="project-detail" style="">
                    <div class="col-10" id="project-0">
                        <div class="project-content">
                            <p class="project-title"></p>
                            <!-- <p class="create-time">2014.8 - 2014.9</p> -->
                            <p class="decription">&nbsp 本科时学习的是化学专业，毕业后从事相关工作半年，后至腾讯从事腾讯视频内容管理方面的工作两年，于去年开始学习前端领域的内容。转行是因为发现自己相对于运营，更感兴趣于技术，希望自己不只能提出问题，也能解决问题。</p>
                            <p class="decription">&nbsp 在后来学习前端的过程中，兴趣愈发浓厚，知道自己没有做错选择，便更加坚定的走了下去。这其中自然少不了很多障碍，但这个过程才能培养作为程序猿最重要的自学能力。前端发展日新月异，保持好奇心显得尤为重要。起步晚是我的劣势，同时也是我的动力，人应该向前看，继续学，继续干就对了！</p>
                        </div>
                    </div>
                    <!-- <div class="col-3-abs" id="project-1">
                        <div class="project-content"> <img src="./static/image/LOGO2.png" alt="">
                            <p class="project-title">聊天应用开发</p>
                            <p class="create-time">2014.8 - 2014.9</p>
                            <p class="decription"> 该作品使用了MVC设计模式，SqlServer数据库，Servlet、jquery ajax的技术上制作的一个动态购物网站，实现了在数据库查询出商品显示在页面上，实现了购物车与购买功能，并对数据库进行相应操作。 </p>
                        </div>
                        <div class="link-to">
                            <a href="https://www.baidu.com" class="button">查看DEMO</a>
                            <div class="shadow"></div>
                        </div>
                    </div>
                    <div class="col-3-abs endline" id="project-2">
                        <div class="project-content"> <img src="./static/image/LOGO3.png" alt="">
                            <p class="project-title">购物商城前端搭建</p>
                            <p class="create-time">2014.8 - 2014.9</p>
                            <p class="decription"> 该作品使用了MVC设计模式，SqlServer数据库，Servlet、jquery ajax的技术上制作的一个动态购物网站，实现了在数据库查询出商品显示在页面上，实现了购物车与购买功能，并对数据库进行相应操作。 </p>
                        </div>
                        <div class="link-to">
                            <a href="https://www.baidu.com" class="button">查看DEMO</a>
                            <div class="shadow"></div>
                        </div>
                    </div> -->
                </div>
            </section>
            <section>
                <div class="title work">
                    <p>关于码</p>
                </div>
                <div class="w-experience-detail">
                    <div class="item w-experience-content">
                        <div class="logo" style="margin-left:200px;vertical-align:bottom;font-size:0;">
                            <img class="company-logo" src="./static/image/js.jpg">
                            <span>xxx</span>
                        </div>
                        <div class="work-content">
                            <p class="job">JS Works </p>
                            <ul>
                                <li>表单</li>
                                <li>图片</li>
                                <li>内容</li>
                            </ul><br>
                            <button type="button" name="button" class="demobtn">Demo</button>
                            <!-- <button type="button" name="button" class="demobtn">个人总结</button> -->
                            <a href="blog-page/index.html">blog</a>
                        </div>
                    </div>
                    <div class="item w-experience-content">
                        <div class="logo" style="margin-left:200px;vertical-align:bottom;font-size:0;">
                            <img class="company-logo" src="./static/image/bootstrap.png" alt="">
                        </div>
                        <div class="work-content">
                            <p class="job">静态Web</p>
                            <ul>
                                <li>HTML</li>
                                <li>CSS+Bootstrap</li>
                            </ul><br>
                            <button type="button" name="button" class="demobtn">Demo</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <section>
                <div class="peasonal-message">
                    <img class="peasonal-image" src="./static/image/thanks.jpg" alt="">
                    <div class="item">
                        <p class="name"> 感谢您宝贵的时间！</p>
                    </div>
                    <!-- <div class="item contact">
                        <div class="col-3 qrcode">
                            <img class="qr-image" src="./static/image/QRCode.png" alt="">
                        </div>
                        <div class="col-9">
                            <p>了解更多的我</p>
                            <div class="icon-container">
                                <a href="#" class="icon">
                                    <img src="./static/image/giteeICON.png" alt="">
                                </a>
                                <a href="#" class="icon">
                                    <img src="./static/image/zhihuICON.png" alt="">
                                </a>
                                <a href="#" class="icon">
                                    <img src="./static/image/weiboICON.png" alt="">
                                </a>
                                <a href="#" class="icon">
                                    <img src="./static/image/oscICON.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
        </footer>
    </div>

    <script type="text/javascript">
        var btn = document.getElementsByClassName('demobtn');
        btn[0].addEventListener('click',function () {
            window.open('JSworks/index.html')
        })
        btn[1].addEventListener('click',()=>window.open('Boot/start.html'))
    </script>
</body>

</html>
